#!/bin/sh
# ~/.config/bash/01_environment.sh
# --------------------------------------------------------------------------------
# Configurações do ambiente de shell
# --------------------------------------------------------------------------------

# Adiciona o diretório de binários do usuário ao PATH
export PATH="$XDG_BIN_HOME:$PATH"

# Define o editor padrão
export EDITOR='nano'

# Opções do ls para cores automáticas
export LS_OPTIONS='--color=auto'

{{ if .system.is_windows -}}
# Habilita links simbólicos nativos no MSYS2 (Git Bash)
export MSYS="winsymlinks:native"

# Adiciona o OpenSSH do Windows ao PATH para usar ssh/ssh-agent nativos
export PATH="/c/Windows/System32/OpenSSH:$PATH"

# Enables Fast Node Manager (fnm)
eval "$(fnm env --use-on-cd --shell bash)"
{{- end }}

{{- if (or .system.is_linux .system.is_wsl) -}}
# Setup `pyenv` for Python version management
export PYENV_ROOT="$XDG_DATA_HOME/pyenv"
[[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init - bash)"
{{- end }}

# Define o comportamento do comando less
## -R: melhor exibição de caracteres de controle
## -M: prompt longo, com nome do arquivo e informações da quantidade de linhas
## -N: ativa números de linha
## -S: ativa o 'chop-long-lines', ou seja, trunca linhas maiores que a tela (desativa o line wrap)
## -~: desativa a exibição de '~' nas linhas após o fim do arquivo
## -#3: configura o scroll horizontal para 3 posições por vez
## -i: pesquisa case insensitive, a menos que haja letras maiúsculas na busca
## -+F: desativa o 'quit-if-one-screen', ou seja, sempre entra no modo interativo, mesmo para saídas curtas
## -+X: desativa o 'no-init', ou seja, sempre utiliza o alternate screen, limpando a tela ao sair
## Utilizar cores
### -DNk: números de linha pretos
### -DPc: prompt cyano
### -DRc: rscroll character cyano
export LESS='-RMnS~#3i -+F -+X'

# Define o charset utilizado
export LESSCHARSET='utf-8'

# Desabilita o histórico do less
export LESSHISTFILE=-

# Define local para configurações do `bat`
export BAT_CONFIG_DIR="$XDG_CONFIG_HOME/bat"

# Define variáveis para o `pipx`
export PIPX_HOME="$XDG_DATA_HOME/pipx"
export PIPX_BIN_DIR="$XDG_BIN_HOME"
