{{- if (or .system.is_linux .system.is_wsl) -}}
chezmoi:template:missing-key=invalid
#!/bin/bash

set -e

echo "[chezmoi] Sistema operacional detectado: Linux"
echo "[chezmoi] Iniciando instalação declarativa..."

sudo="sudo"
{{ if eq .chezmoi.username "root" -}}
sudo=""
{{ end -}}

echo -e "\n[apt] Atualizando pacotes já instalados..."
$sudo apt update && $sudo apt upgrade -y

# -------------------------------------------------------------------------------------
# Helper: verifica pacote instalado via apt
verify_apt_package() {
  local name="$1"
  if dpkg -s "$name" &>/dev/null; then
    echo "[apt] Ignorando: $name já está instalado."
    return 0
  else
    return 1
  fi
}
# -------------------------------------------------------------------------------------

# -------------------------------------------------------------------------------------
# Helper: instala pacotes via apt
install_apt_package() {
  local name="$1"
  echo "[apt] Instalando $name..."
  $sudo apt install -y "$name"
}
# -------------------------------------------------------------------------------------

# -------------------------------------------------------------------------------------
# Helper: verifica pacote instalado via curl
verify_curl_package() {
  local name="$1"
  if command -v "$name" &>/dev/null; then
    echo "[curl] Ignorando: $name já está instalado."
    return 0
  else
    return 1
  fi
}
# -------------------------------------------------------------------------------------

# -------------------------------------------------------------------------------------
# Helper: instala pacotes via curl
install_curl_package() {
  local name="$1"
  local url="$2"
  local args="$3"
  echo "[curl] Instalando $name..."
  if [ -n "$args" ]; then
    curl -fsSL "$url" | bash -s -- $args
  else
    curl -fsSL "$url" | bash
  fi
}
# -------------------------------------------------------------------------------------

# -------------------------------------------------------------------------------------
# Helper: verifica pacote instalado via pip
verify_pip_package() {
  local name="$1"
  if pip show "$name" &>/dev/null; then
    echo "[pip] Ignorando: $name já está instalado."
    return 0
  else
    return 1
  fi
}
# -------------------------------------------------------------------------------------

# -------------------------------------------------------------------------------------
# Helper: instala pacotes pip
install_pip_package() {
  local name="$1"
  echo "[pip] Instalando $name..."
  pip install --upgrade --upgrade-strategy eager "$name"
}
# -------------------------------------------------------------------------------------

# -------------------------------------------------------------------------------------
# Helper: verifica pacote instalado via pipx
verify_pipx_package() {
  local name="$1"
  if pipx list | grep -q "$name"; then
    echo "[pipx] Ignorando: $name já está instalado."
    return 0
  else
    return 1
  fi
}
# -------------------------------------------------------------------------------------

# -------------------------------------------------------------------------------------
# Helper: instala pacotes pipx
install_pipx_package() {
  local name="$1"
  echo "[pipx] Instalando $name..."
  pipx install "$name"
}
# -------------------------------------------------------------------------------------

# -------------------------------------------------------------------------------------
# Helper: Função genérica para executar hooks (lista de comandos)
run_hook_command() {
  local command="$1"
  echo "[hook] Executando: $command"
  eval "$command"
}
# -------------------------------------------------------------------------------------

# -------------------------------------------------------------------------------------
# Helper: verifica se o link simbólico existe e aponta para o destino correto
verify_symbolic_link() {
  local name="$1"
  local target="$2"
  if [ -L "$name" ]; then
    if [ "$(readlink -f "$name")" = "$target" ]; then
      echo "[symlink] Ignorando: link simbólico $name já existe e aponta para $target."
      return 0
    else
      echo "[symlink] Warning: Link simbólico $name existe, mas aponta para $(readlink -f "$name") em vez de $target."
      echo "[symlink] Removendo link simbólico incorreto $name..."
      rm -f "$name"
      return 1
    fi
  else
    echo "[symlink] Link simbólico $name não existe."
    return 1
  fi
}
# -------------------------------------------------------------------------------------

# -------------------------------------------------------------------------------------
# Helper: cria link simbólico
create_symbolic_link() {
  local name="$1"
  local target="$2"
  echo "[symlink] Criando link simbólico: $name -> $target"
  ln -sf "$target" "$name"
}
# -------------------------------------------------------------------------------------

# =====================================================================================
# Declarar variáveis de ambiente para os scripts de instalação
# =====================================================================================
export XDG_CONFIG_HOME="{{ .env.xdg_config_home }}"
export XDG_BIN_HOME="{{ .env.xdg_bin_home }}"
export XDG_DATA_HOME="{{ .env.xdg_data_home }}"
export XDG_STATE_HOME="{{ .env.xdg_state_home }}"
# -------------------------------------------------------------------------------------

{{ with .packages.linux -}}
{{ with .apt -}}
# =====================================================================================
# Instalar pacotes via apt
# =====================================================================================
echo -e "\n[chezmoi] Instalando pacotes via apt..."
{{- range . }}
if ! verify_apt_package "{{ .name }}"; then
  {{- with .pre_install }}
  {{- range . }}
  run_hook_command '{{ . }}'
  {{- end }}
  {{- end }}
  install_apt_package "{{ .name }}"
  {{- with .post_install }}
  {{- range . }}
  run_hook_command '{{ . }}'
  {{- end }}
  {{- end }}
fi
{{- end }}
# -------------------------------------------------------------------------------------
{{- end }}

{{ with .curl -}}
# =====================================================================================
# Instalar pacotes via curl
# =====================================================================================
echo -e "\n[chezmoi] Instalando pacotes via curl..."
{{- range . }}
if ! verify_curl_package "{{ .name }}"; then
  {{- with .pre_install }}
  {{- range . }}
  run_hook_command '{{ . }}'
  {{- end }}
  {{- end }}
  install_curl_package "{{ .name }}" "{{ .url }}" "{{ .args }}"
  {{- with .post_install }}
  {{- range . }}
  run_hook_command '{{ . }}'
  {{- end }}
  {{- end }}
fi
{{- end }}
# -------------------------------------------------------------------------------------
{{- end }}

{{ with .pip -}}
# =====================================================================================
# Instalar pacotes via pip
# =====================================================================================
echo -e "\n[chezmoi] Instalando pacotes pip declarados..."
{{- range . }}
if ! verify_pip_package "{{ .name }}"; then
  {{- with .pre_install }}
  {{- range . }}
  run_hook_command '{{ . }}'
  {{- end }}
  {{- end }}
  install_pip_package "{{ .name }}"
  {{- with .post_install }}
  {{- range . }}
  run_hook_command '{{ . }}'
  {{- end }}
  {{- end }}
fi
{{- end }}
# -------------------------------------------------------------------------------------
{{- end }}

{{ with .pipx -}}
# =====================================================================================
# Instalar pacotes via pipx
# =====================================================================================
echo -e "\n[chezmoi] Instalando pacotes pipx declarados..."
{{- range . }}
if ! verify_pipx_package "{{ .name }}"; then
  {{- with .pre_install }}
  {{- range . }}
  run_hook_command '{{ . }}'
  {{- end }}
  {{- end }}
  install_pipx_package "{{ .name }}"
  {{- with .post_install }}
  {{- range . }}
  run_hook_command '{{ . }}'
  {{- end }}
  {{- end }}
fi
{{- end }}
# -------------------------------------------------------------------------------------
{{- end }}

{{ with .symbolic_link -}}
# =====================================================================================
# Criar links simbólicos
# =====================================================================================
echo -e "\n[chezmoi] Criando links simbólicos declarados..."
{{- range . }}
if ! verify_symbolic_link "{{ .name }}" "{{ .target }}"; then
  create_symbolic_link "{{ .name }}" "{{ .target }}"
fi
{{- end }}
# -------------------------------------------------------------------------------------
{{- end }}
{{- end }}

echo -e "\n[chezmoi] Recarregando shell para aplicar mudanças..."

echo -e "\n[chezmoi] Instalação concluída com sucesso!"
exec "$SHELL" -l
{{- end }}
